@model IEnumerable<CompanyNotes.Models.Case>

@{
    ViewBag.Title = "Index";
}

<h2>Index All Cases</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CaseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Residents)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CaseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager)
        </td>

            @if (item.IsActive)
            {
                <td>
                    <div style="border: 1px solid black; background-color: #00FF00">
                        <span>&nbsp; Case Active</span>
                    </div>
                </td>
            }
            else if (!item.IsActive)
            {
                <td>
                    <div style="border: 1px solid black; background-color: #f80d0d">
                        <span>&nbsp; Case Closed</span>
                    </div>
                </td>
            }

        <td>
            @Html.DisplayFor(modelItem => item.Client.ClientName)
        </td>
        <td>
            @Html.ActionLink("List of Residents", "ResidentsForCase", "Residents",
                                                    new { caseId = item.CaseId, caseNumber = item.CaseNumber }, null)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CaseId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CaseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CaseId })
        </td>
    </tr>
}

</table>
