@model IEnumerable<CompanyNotes.Models.WorkNote>

@{
    ViewBag.Title = "Index";
}

<h3>Notes for @ViewBag.Employee.FullName</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Case.Address)
        </th>
        <th>
            Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Case.Address)
        </td>
        <td style="width: 60%;">
            <b>@Html.DisplayFor(modelItem => item.Date)</b><br />
            <b>@Html.DisplayFor(modelItem => item.Caption)</b><br />
            <p>@Html.DisplayFor(modelItem => item.Text)</p>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkNoteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkNoteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkNoteId })
        </td>
    </tr>
}

</table>
