@model IEnumerable<CompanyNotes.Models.WorkNote>

@{
    ViewBag.Title = "Notes For Case";
}

<h3>Notes For Case No. @ViewBag.CaseNumber</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Date)</b>
            </td>
            <td style="width: 60%">
                <b>@Html.DisplayFor(modelItem => item.Caption)</b><br />
                @Html.TextAreaFor(modelItem => item.Text, new { @class = "form-control", @id = "showTextArea", @readonly = "readonly" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkNoteId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkNoteId })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Back to Cases", "Index", "Cases")


