@model IEnumerable<CompanyNotes.Models.Resident>

@{
    ViewBag.Title = "Index";
}

<h2>Index Residents for Case No. @ViewBag.CaseNumber</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { caseId = ViewBag.CaseId, caseNumber = ViewBag.CaseNumber })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResidentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResidentId })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to List", "Index", "Cases")
